<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
<div class="main">
    <div class="section">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">ABOUT US</h2>
                    <p class="description">PACKGRAM offers a luggage delivery service either at the national level (between cities) or internationally.</p>
                    <p class="description">A person wishing to send or ship anything (bag, suitcase,
                        papers, food to a specific destination and by a fixed date, or even wanting to travel hands free,
                        may request a shipment which will be carried out by another
                        person (traveler) heading to this destination and having a vacant space
                         in his personal luggage. </p>
                         </div>
            </div>
           
       
        </div>
    </div>

</div>
</div>