<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
<div class="main">
    <div class="section">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Destination*">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Desired space (in Kg)">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Time (exp : 23:00)">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                        <input class="form-control" placeholder="date*"
                             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
                        <div class="input-group-append">
                            <span class="glyphicon glyphicon-calendar input-group-text">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-search"></i></button>
                    </div>
                </div>
   
            </div>
            <div class="row">
                <div class="card" style="width: 18rem;" *ngFor = "let offre of offres">
                    <div class="card-body">
                      <h5 class="card-title"> {{ offre.time }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ offre.space }}</h6>
                      <p class="card-text">{{ offre.details }}</p>
                      <a [routerLink]="['/reserve']" class="card-link">Reserve</a>
                      <a [routerLink]="['/profil']" class="card-link">View Profile</a>
                    </div>
                  </div>

                  
            </div>
       
        </div>
    </div>

</div>
</div>